
<table width="926" height="284" align="center" border="0" bordercolor="#000000" cellpadding="0" cellspacing="0">
<td>
<!-- Start slide-->
 <div id="container">
  <!--  Outer wrapper for presentation only, this can be anything you like -->
  <div id="banner-fade">
    <!-- start Basic Jquery Slider -->
    <ul class="bjqs">
      <li><img src="/assets/iii4.png" title="Image Number1"></li>
    <!--   <li><img src="/images/Slide/ii2.png" title="Image Number2"></li> -->
      <li><img src="/assets/iii1.png" title="Image Number3"></li>
      <li><img src="/assets/iii2.png" title="Image Number4"></li>
      <li><img src="/assets/iii3.png" title="Image Number4"></li>
    <!--   <li><img src="/images/Slide/ii5.png" title="Image Number5"></li> -->
    </ul>
    <!-- end Basic jQuery Slider -->
  </div>
  <!-- End outer wrapper -->
  <script class="secret-source">
     jQuery(document).ready(function($) {
      $('#banner-fade').bjqs({
      	animtype 		: 'slide',
        height   		: 284,
        width   		: 926,
        responsive  	: true        
      });

    });
  </script>
 <!--End slide-->
</td>
</table>
<!-- <table width="926" height="320" background="/assets/pmid2.png" align="center" border="0" >   -->
<table width="926" height="320"  background="/assets/pmid21.png"  align="center"border="0" bordercolor="#000000" cellpadding="0" cellspacing="0">


</table>





