
<table width="926" height="604" align="center" border="0">
<td width="300" height="604" align="center" border="0" background="/assets/tab1.png">
</td>
<td width="626" height="604" align="center" border="0" background="/assets/tab22.png"> 
</td>
</table>
